<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Font Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion Google Font Server -->
    <link rel="stylesheet" href="/home.css" />
    <title>CATALYST</title>
  </head>

  <body>
    <header id="header">
        <%- include("./home/navbar.ejs", { header, account }) %>
    </header>
    <main>
        <section id = "introduction-section">
            <%- include("./home/introduction.ejs") %>
        </section>

        <section id = "marquee-section">
            <%- include("./home/marquee.ejs") %>
        </section>
        <section id = "start-petition-section">
          <%- include("./home/start-petitions.ejs") %>
        </section>  

        <section id = "categories-section">
            <%- include("./home/categories.ejs") %>
        </section>

        <section id = "inspired-section">
            <%- include("./home/inspired.ejs") %>
        </section> 
        <section id = "insights-section">
          <%- include("./home/insights.ejs", {users_counts, sign_counts, petition_counts}) %>
      </section>

        <% if(account === undefined) { %>
            <section id="account-section">
              <%- include("./home/account.ejs") %>
            </section>
        <% } %>

        <section id = "home-petitions">
          <%- include("./home/featured-petitions.ejs") %>
        </section>


        
        <section id = "footer-section">
          <%- include("./home/footer.ejs") %>
        </section>

    </main>
     HELLO!
    <script type="module" src="/Home.js"></script>


  </body>
</html>
