<section id="featured-petitions">
    <h2 class ="featured-text">Featured Petitions</h2>
    <div class="scroll-container">
      <% featuredPetitions.forEach((petition) => { %>
        <div class="petition-card">
          <img class = "petition-image-f" src="<%= petition.image %>" alt="Petition Image">
            <h3 class = "petition-title-f"><%= petition.title %></h3>
         <div class = "petition-supporters-f ">
          <p class ="petition-supporters-text ">Supporters: <%= petition.supporters %></p>
        </div>
          <p class = "petiton-author-f">Author: <%= petition.author %></p>
          <a href="/petition/<%= petition.id %>" class="sign-btn">Sign Now</a>
        </div>
      <% }) %>
    </div>
  </section>
  